.cross{
        cursor: pointer;
}

.overlay{
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarOverlay{
    display: flex;
    flex-direction: row;
    justify-content: end;
}